@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background: rgba(139, 0, 139, 0.3);
  color: darkmagenta;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main .title {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 3rem;
  width: fit-content;
  border-bottom: 5px dashed darkmagenta;
}

.main .container {
  /* background: yellow; */
  width: 32.5rem;
  height: 25rem;
  margin-top: 4rem;
  border: 5px dashed darkmagenta;
  border-radius: 10px;
  /* box-shadow: 0 0 15px darkmagenta; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}